# Static and Media files
/static/
/staticfiles/
/media/

/test-site/

# Database
db.sqlite3

htmlview.html

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
**/migrations/**
!**/migrations/__init__.py

